* {
    font:                        "JetBrains Mono 12";
    
    background:                  #161616;
    background-alt:              #202023;
    background-selected:         #DFC5FE;

    foreground:                  #f0f8ff;
    foreground-alt:              @background-alt;
    foreground-selected:         @background;

    urgent:                     red;
    active:                     green;
}
