*{
    font-family: Jetbrains Mono;
    font-size: 18px;

    outline: unset;
    border: unset;
    background-color: unset;
}
#window {
    background-color: #202023;
    border: double 2px transparent;
    border-radius: 5px;

    background-image: linear-gradient(#202023, #202023), 
                      linear-gradient(to right, #7B36D8, #DB3AA7);
    background-origin: border-box;
    background-clip:padding-box, border-box;;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    border: double 2px transparent;
    border-radius: 5px;

    background-image: linear-gradient(#202023, #202023), 
                      linear-gradient(to right, #7B36D8, #DB3AA7);
    background-origin: border-box;
    background-clip: padding-box, border-box;;
}

#text {
    margin: 5px;
    color: white;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 15px;
}

#entry {
    padding: 10px;
    margin-bottom: 5px;
}

#entry:selected  {
    border-radius: 10px;
    background: linear-gradient(to right, #7B36D8, #DB3AA7);
}
