.slider {
    font-family: Material Icons;

    scale trough {
        all: unset;
        min-width: 25px;
        min-height: 75px;

        border-radius: 5px;
        border-width: 1px;
        border-style: dotted;
        border-color: $primary-color;
        background-color: $background-secondary;

        highlight {
            border-radius: 5px;
            background-color: $primary-color;
        }
    }

    &_icon {
        padding: 10px;
        font-size: 12px;
        border-radius: 5px;
        border: 2px solid $background-primary;
        background-color: $background-secondary;
    }
}

.pin {
    margin-bottom: 5px;
    border: 2px solid $background-primary;
    background-color: $background-secondary;
}