// Bar colors
$primary-color: #DFC5FE;
$secondary-color: #967bb6;

$background-primary: #202023;
$background-secondary: #303033;

// Font colors
$foreground-primary: $primary-color;
$foreground-secondary: $secondary-color;

$foreground-primary-active: $primary-color;
$foreground-primary-occupied: $secondary-color;
