// $primary-color: #78a9ff;
// $primary-color: #8AB4F7; 

$primary-color: #82CFFF;
$secondary-color: $primary-color;

$background-primary: #202124;
$background-secondary: #2E2F32;

// Font colors
$foreground-primary: $primary-color;
$foreground-secondary: $secondary-color;

$foreground-primary-active: $primary-color;
$foreground-primary-occupied: $secondary-color;