* {
    all: unset;
}

@mixin panel {
    padding: 10px;
    border-radius: 5px;
    color: $foreground-secondary;
    background-color: $background-secondary;
}


@mixin button {
    font-size: 18px;
    font-weight: bolder;
    border-radius: $theme-radius;

    transition: all;
    transition-delay: 100ms;
    transition-duration: 200ms;

    &:hover {
        color: $foreground-primary;
        background-color: transparentize($background-primary, 0.5);
    }
}

// Will be used in various parts of the code.
.panel {
    @include panel;
}

.button {
    @include button;
}

.padding-0 {
    padding: 0;
}
