$baseTR: rgba(13, 13, 13, 0.13);
$base00: #131313;
$base01: #262626;
$base02: #393939;
$base03: #525252;
$base04: #dde1e6;
$base05: #f2f4f8;
$base06: #ffffff;
$base07: #08bdba;
$base08: #3ddbd9;
$base09: #33b1ff;
$base0A: #ee5396;
$base0B: #78a9ff;
$base0C: #ff7eb6;
$base0D: #42be65;
$base0E: #be95ff;
$base0F: #82cfff;
$baseIBM: #0f62fe;

* {
  all: unset;
}

window {
  font-family: "Liga SFMono Nerd Font";
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0);
  color: $base04;

  &>* {
    margin: 0px 0px 12px 12px;
  }
}

.tags {
  margin-top: 9px;
}

.active {
  color: $base06;
  padding: 6px 9px 6px 6px;
  background-color: $baseTR;
  border-left: 3px solid $base0D;

}

.segment-center {
  margin-top: 18px;
  padding: 9px;
}

.time {
  color: $base06;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 6px;
}

.date {
  margin-top: 6px;
  font-weight: bolder;
  font-size: 16px;
}

.icon {
  background-color: $base00;
  padding: 9px;
  margin: 4.5px 0px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bolder;
}

.current-tag {
  color: $base00;
  background-color: $base0E;
  padding: 9px;
  margin: 4.5px 0px;
  border-radius: 3px;
}
